.toDoWrapper{
  border-bottom: 1px solid #efefef;
  text-align: center;
  margin-bottom: 10px;
}

.removeTodo {
  margin-right: 20px;
  margin-bottom: 10px;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  color: rgba(203, 20, 32, 0.4);
  border-color: rgba(203, 20, 32, 0.4);
  background-color: transparent;
}

.removeTodo:hover {
  background-color: rgba(203, 20, 32, 0.4);
  color: white;
}

.doneTodo{
  margin-right: 20px;
  margin-bottom: 10px;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  color: green;
  border-color: green;
  background-color: transparent;

}

.doneTodo:hover{
  background-color: green;
  color: white;
}

.editTodo{
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 10px;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  color: blue;
  border-color: blue;
  background-color: transparent;
}

.editTodo:hover{
  background-color: blue;
  color: white;
}

.completed  {
  color: red;
  text-decoration: line-through;
}

.button_edit{
  width: auto;
  height: 35px;
  margin: 10px;
  border: 2px solid #5F021F;
  border-radius: 2px;
  background-color: white;
  color: #5F021F;
}

.button_edit:hover{
  color: white;
  background-color: #5F021F;
}

.input_edit{
  width: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #5F021F;
  height: 30px;
  color: #5F021F;
}
